<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 text-white p-10">
        <div class="nav mb-10">
            <a class="text-zinc-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        
      <form action="/create" method="post">
        <input
          class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent"
          type="text"
          placeholder="name"
          name="name"
        />
        <input
          class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent"
          type="text"
          placeholder="email"
          name="email"
        />
        <input
          class="px-5 py-3 border-2 border-zinc-800 outline-none bg-transparent"
          type="text"
          placeholder="image URL"
          name="image"
        />
        <input class="cursor-pointer px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="Create User" />
      </form>
    </div>
  </body>
</html>
